<%%= form_for(@<%= singular_table_name %>, html: {class: 'form-horizontal'}) do |f| %>
<% attributes.each do |attribute| -%>
  <div class="form-group<%%= " has-error" if @<%= singular_table_name %>.errors.messages.has_key? :<%= attribute.name %> %>">
    <%%= f.label :<%= attribute.name %>, class: 'control-label' %>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, class: 'form-control' %>
    <%% @<%= singular_table_name %>.errors.messages[:<%= attribute.name %>].each do |message| %>
      <%%= f.label message, class: 'help-block' %>
    <%% end %>
  </div>
<% end -%>
  <div class="form-group">
    <%%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<%% end %>
